.bgimg {
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.fade-in {
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
  }

  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .babae {
    position: absolute;
    top: -296px
  }

  .fade-out{
    animation: fadeOut 2s ease-in-out forwards;
    animation-delay: 3s;
   }
  
  @keyframes fadeOut {
    0% {
      opacity: 1; /* Start with full opacity */
    }
    100% {
      opacity: 0; /* Fade out to completely transparent */
    }
  }
  

  .slide-in-left {
    overflow: hidden; /* Ensure the image is clipped */
    animation: slideLeft 2s ease-in-out reverse; /* Apply animation to the image */
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(-100%); /* End position (slide to the left) */
    }
  }
  
  .headline1 {
    position: absolute;
    top: -53px;
  }

  .headline2 {
    position: absolute;
    left: 3025px;
    top: -333px;
  }

  .slide-in-right {
    overflow: hidden; /* Ensure the image is clipped */
    animation: slideRight 2s ease-in-out both; /* Apply animation to the image */
    animation-delay: 4s;
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(-100%); /* End position (slide to the left) */
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(-220%); /* End position (slide to the left) */
    }
  }
  
  .minimize{
    animation: minimizeEffect 1s ease-in-out forwards;
    animation-delay: 3.5s;
  }
  
  @keyframes minimizeEffect {
    0% {
      transform: scale(1); /* Start with normal scale */
    }
    100% {
      transform: scale(0); /* Scale down to zero */
    }
  }
  
  .fade-in-sh {
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
    animation-delay: 8s;
  }

  .fade-in-lm {
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
    animation-delay: 10s;
  }

  .learnmore {
    position: absolute;
    top:651px ;
    left: 542px;
    width: 406px;

  }

  .slide-in-logo {
    position: absolute;
    top: -56px;
    left: 790px;
    width: 568px;
    overflow: hidden; /* Ensure the image is clipped */
    animation: slideRight 2s ease-in-out both reverse; /* Apply animation to the image */
    animation-delay: 11s;
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(-100%); /* End position (slide to the left) */
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(-220%); /* End position (slide to the left) */
    }
  }

  .replay {
    opacity: 0;
    position: absolute;
    top: 753px;
    left: 602px;
    width: 331px;
    animation: fade-in-animation 1s ease-in forwards;
    animation-delay: 13s;
  }